{$EXTERNAL_URL}
tls {$TLS_CONFIG}

# Docker can collect and process the logs
log stdout

# Requests for API subpaths go to the API server
proxy /api http://api-server {
    without /api
    except /api
}

# Root API URL redirects to documentation
redir /api https://documenter.getpostman.com/view/5137450/RWTrLamF

# Sample SPAs are served from here
root /static/


